*{
    padding: 0;
    margin: 0;
}

:root{
    --azul: #1f8da5;
    --amarelo: #ffc876;
}

body{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

header{
    width: 100vw;
    height: 9vh;
}

nav{
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
}

nav img{
    width: 21vw;
}

.big-photo{
    background-color: #b6e4fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
}

.center-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 80vw;
  }

.price-container{
    background-color: #4eb6ea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px 10px;

    width: 18vw;
    height: 18vw;
}

.description{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

p{
    font-size: 5.4vw; 
 }
 
 h2{
    font-size: 7.4vw;
 }

 h3{
    font-size: 4.8vw;
    text-align: end;
 }

.center-items img{
    width: 70vw;
}

/*/////////////PRODUCTS-CONTAINER////////////*/

.products{
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#c1{
    background-color: #d7c4eb;
}
#c2{
    background-color: #ffeeb1;
}
#c3{
    background-color: #f3f3f5;
}
#c4{
    background-color: #ffced3;
}
