* {
    padding: 0;
    margin: 0;
}

:root {
    /*CORES DA MARCA*/
    --azul: #1f8da5;
    --amarelo: #ffc876;

    /*CORES DOS PRODUTOS*/
    --roxo-produtos: #d7c4eb;
    --amarelo-produtos: #ffeeb1;
    --branco-produtos: #f3f3f5;
    --rosa-produtos: #ffced3;
}

body {
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow: hidden;
}

/*/////////////NAVBAR////////////*/

header {
    width: 100vw;
    height: 9vh;
}

nav {
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

nav img {
    /* width: 21%; */
    height: 100%;
}

/*/////////////SHOWCASE////////////*/

.big-photo {
    position: relative;
    background-color: #b6e4fb;
    margin: 0 auto;
    overflow: hidden;
    padding: 10vw;

    display: flex;
    flex-direction: column;
    width: auto;
    height: 60vh;
}

.big-photo:hover>.product-image {
    transform: scale(1.1);
    transform-origin: center center;
}

.product-price {
    background-color: var(--azul);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 22%;
    height: 20%;
}

.product-description {
    bottom: 0;
}

.image-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .5s ease-out;
}

.product-price p {
    color: #f3f3f5;
    font-size: 140%;
}

h2 {
    font-size: 7.4vw;
    text-align: end;
}

h3 {
    font-size: 4.8vw;
    text-align: end;
}


/*/////////////PRODUCTS-CONTAINER////////////*/

.center-title {
    background-image: linear-gradient(to right, var(--roxo-produtos), var(--branco-produtos), var(--amarelo-produtos));
    width: auto;
    display: flex;
    justify-content: center;
}

.products {
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cube {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 3vw 6vw;

    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 2s;
}

.catalog-product-price {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 22vw;
    height: 22vw;
}

.catalog-product-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

h6 {
    color: var(--azul);
    font-size: 120%;
}

h4 {
    font-size: 120%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#c1 {
    background-color: var(--roxo-produtos);
}

#c2 {
    background-color: var(--amarelo-produtos);
}

#c3 {
    background-color: var(--branco-produtos);
}

#c4 {
    background-color: var(--rosa-produtos);
}

/*/////////////FOOTER////////////*/

footer {
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;

    height: 7vh;
}

footer a {
    height: 100%;
    width: auto;

    display: flex;
    align-items: center;
}

footer img {
    height: 70%;
    width: auto;
}

.options {
    width: auto;
    display: flex;
    justify-content: space-around;
    gap: 2vw;
}

a {
    text-decoration: none;
    color: #1f8da5;
}

/*/////////////POP-UP////////////*/

.center-popup {
    position: absolute;
    display: flex;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

dialog {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    background-image: linear-gradient(to right, var(--azul), var(--amarelo));
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    padding: 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    width: 80vw;
}

dialog h1 {
    color: black;
}

dialog h5 {
    font-size: 22px;
    color: black;
    transition: 0.5s;
}

dialog h5:hover {
    transform: rotate(180deg);
    color: red;
}

dialog p {
    color: black;
}

dialog input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15%;
    padding: 1vw;

    width: 60%;
}

dialog input::placeholder {
    color: black;
    font-size: 110%;
}

/*/////////////AJUSTES DE RESOLUCAO////////////*/

@media only screen and (min-width: 1024px) {
    .big-photo {
        height: 90vh;
    }

    .product-price {
        width: 22%;
    }

    .product-price p {
        font-size: 200%;
    }

    h2 {
        font-size: 340%;
    }

    h3 {
        font-size: 140%;
    }

    h4 {
        font-size: 240%;
    }

    h6 {
        font-size: 240%;
    }
}